@import '../../styles/main.scss';

.recipesSection {
  padding-top: 64px;
  font-size: 28px;
  @include min-desktop {
    flex-direction: column;
    // justify-content: space-between;
    // font-size: 20px;
  }

  & .backButton {
    display: flex;
    align-items: center;
    justify-content: baseline;
    text-transform: uppercase;
    margin-bottom: 16px;
    @include min-tablet {
      margin-bottom: 20px;
    }

    & .icon {
      width: 16px;
      height: 16px;
      fill: $--color-white;
      stroke: $--color-main;
      transition: transform $--transition-primary;
      margin-right: 4px;

      @include min-tablet {
        width: 18px;
        height: 18px;
      }
    }
    & .text {
      font-family: var($--font-mulish);
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: -0.02em;
      text-align: left;
    }
  }
  & .description {
    margin-top: 16px;
    margin-bottom: 32px;
    @include min-tablet {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

  .filterContainer {
    @include min-desktop {
      display: flex;
      flex-direction: row;
    }
  }
}
