@import '../../styles/main.scss';

.categories {

    &-title {
        text-transform: uppercase;
        font-weight: 800;
        line-height: 1.1em;
        letter-spacing: -0.02em;
        color: $--color-main;
    }

    &-description {
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: -0.02em;
        color: $--color-main-opacity80;
    }
}

@include min-mobile {
    .categories {

        &-section {
            margin-top: 64px;
        }
    
        &-title {
            font-size: 28px;
        }
    
        &-description {
            width: 342px;
            margin-top: 16px;
            font-size: 14px;
        }
    }
}

@include min-tablet {
    .categories {

        &-section {
            margin-top: 100px;
        }
    
        &-title {
            font-size: 40px;
        }
    
        &-description {
            width: 530px;
            margin-top: 20px;
            font-size: 16px;
        }
    }
}

@include min-desktop {
    .categories {

        &-section {
            margin-top: 120px;
        }
    
        &-title {
            font-size: 40px;
        }
    
        &-description {
            width: 530px;
            margin-top: 20px;
            font-size: 16px;
        }
    }
}