@import '../../styles/main.scss';

@include min-mobile {
    .categories {

        &-section {
            padding-top: 64px;
        }
    
        &-title {
            font-size: 28px;
        }
    
        &-description {
            width: 342px;
            margin-top: 16px;
        }
    }
}

@include min-tablet {
    .categories {

        &-section {
            padding-top: 100px;
        }

        &-description {
            width: 530px;
            margin-top: 20px;
        }
    }
}

@include min-desktop {
    .categories {

        &-section {
            padding-top: 120px;
        }

        &-description {
            width: 530px;
        }
    }
}