@import '../../styles/main.scss';

.item {
  display: flex;
}

.img {
  flex-shrink: 0;
  width: 75px;
  height: 75px;
  border-radius: 15px;
  overflow: hidden;

  @include min-tablet {
    width: 100px;
    height: 100px;
  }
}

.info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 16px 0 10px;

  @include min-tablet {
    gap: 10px;
    margin: 0 32px 0 16px;
  }
}

.title {
  font-weight: 800;
  letter-spacing: -0.32px;
  text-transform: uppercase;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: ellipsis;

  @include min-tablet {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.4px;
    text-transform: uppercase;
  }
}

.descr {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: -0.28px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: ellipsis;

  @include min-tablet {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
}

.buttons {
  display: flex;
  gap: 4px;
}
