@import '../../styles/main.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 14px;
  font-size: 14px;
  border-radius: 30px;
  background-color: $--color-main;
  transition: opacity $--transition-primary;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  color: $--color-white;
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:disabled {
    background-color: $--color-main-opacity20;
    color: $--color-white-opacity40;
    cursor: not-allowed;
  }
  @include min-tablet {
    padding: 16px;
    font-size: 16px;
  }

  //variants
  &.outline {
    color: $--color-main;
    border: 1px solid $--color-main;
    background-color: transparent;
    padding: 14px;
    font-size: 14px;
    @include min-tablet {
      padding: 16px;
      font-size: 16px;
    }
  }

  &.outline_secondary {
    width: 100%;
    padding: 8px;
    border: 1px solid $--color-main-opacity12;
    background-color: transparent;
    color: $--color-main-opacity90;

    @include min-tablet {
      padding: 10px;
    }
  }
  &.auth {
    width: 100%;
    padding: 14px;
    // border: 1px solid $--color-main-opacity12;
    background: $--color-main-opacity20;
    color: $--color-white-opacity40;
    font-size: 14px;
    transition: 0.3s;

    &:hover,
    &:focus {
      background: $--color-main;
      color: $--color-white;
      opacity: 1;
    }

    @include min-tablet {
      padding: 16px;
      font-size: 16px;
    }
  }
}
