@import '../../styles/main.scss';

.pagination {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $--color-main-opacity20;
  color: $--color-main;
  background-color: transparent;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

  &_active {
    border-color: $--color-main;
  }

  &:hover,
  &:focus {
    color: $--color-white;
    background-color: $--color-main;
  }
}
