@import '../../styles/main.scss';

.hero {
    display: flex;

    &-section {
        border-radius: 30px;
        background-color: $--color-main;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        color: $--color-white;
    }

    &-title {
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        letter-spacing: -0.02em;
        line-height: 1em;
    }

    &-description {
        width: 326px;

        margin-top: 20px;

        text-align: center;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.02em;
        line-height: 1.4em;
    }

    &-link {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 130px;
        height: 44px;

        margin-top: 20px;

        border-radius: 30px;
        border: solid 1px $--color-white;

        cursor: pointer;

        text-transform: uppercase;
        font-size: 14px;
        color: $--color-white;

        transition: border-color $--transition-primary,
            color $--transition-primary;

        &:hover {
            border-color: $--color-white-opacity80;
            color: $--color-white-opacity80;

            transition: border-color $--transition-primary,
                color $--transition-primary;
        }
    }

    &-wrapper-img {
        display: flex;
        margin-top: 40px;
    }

    @include min-mobile {
        &-section {
            width: 360px;
            height: 796px;
    
            margin: auto;
            margin-top: 8px;
    
            border-radius: 20px;
        }

        &-title {
            width: 328px;
    
            margin-top: 194px;
    
            font-size: 40px;
        }

        &-wrapper-img {
            display: flex;
    
            margin-top: 30px;
        }

        &-img-small {
            width: 78px;

            margin-top: 102px;
        }

        &-img-big {
            width: 190px;
        }
    }

    @include min-tablet {
        &-section {
            width: 736px;
            height: 992px;
    
            margin: auto;
            margin-top: 16px;
        }

        &-title {
            width: 678px;
    
            margin-top: 218px;
    
            font-size: 70px;
        }

        &-description {
            width: 577px;
    
            margin-top: 40px;
    
            text-align: center;
            font-size: 16px;
            line-height: 1.5em;
        }

        &-link {
            width: 160px;
            height: 56px;
    
            margin-top: 40px;

            font-size: 16px;
        }

        &-wrapper-img {
            margin-top: 30px;
        }

        &-img-small {
            width: 128px;
            margin-top: 140px;
        }

        &-img-big {
            width: 302px;
        }
    }

    @include min-desktop {
        &-section {
            width: 1400px;
            height: 970px;
    
            margin: auto;
            margin-top: 20px;
        }

        &-title {
            width: 874px;
    
            margin-top: 154px;
    
            font-size: 90px;
        }

        &-wrapper-img {
            margin-top: 40px;
        }

        &-img-small {
            width: 128px;
            margin-top: 140px;
        }

        &-img-big {
            width: 302px;
        }
    }
}

