@import '../../styles/main.scss';

.hero {
    display: flex;

    &-section {
        border-radius: 30px;
        background-color: $--color-main;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        color: $--color-white;
    }

    &-title {
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        letter-spacing: -0.02em;
        line-height: 1em;
    }

    &-description {
        width: 577px;

        margin-top: 40px;

        text-align: center;
        font-weight: 500;
        letter-spacing: -0.02em;
        line-height: 1.5em;
    }

    &-button {
        width: 160px;
        height: 56px;

        margin-top: 40px;

        border-radius: 30px;
        border: solid 1px $--color-white;

        text-transform: uppercase;
        color: $--color-white;
    }
    
    &-wrapper-img {
        display: flex;

        margin-top: 40px;
    }
    
    &-img-small {
        margin-top: 140px;
    }

    @include min-mobile {
        &-section {
            width: 360px;
            height: 796px;
    
            margin: auto;
            margin-top: 8px;
    
            border-radius: 20px;
        }

        &-title {
            width: 328px;
    
            margin-top: 194px;
    
            font-size: 40px;
        }

        &-description {
            width: 326px;
    
            margin-top: 20px;

            font-size: 14px;
            line-height: 1.4em;
        }

        &-button {
            width: 130px;
            height: 44px;
    
            margin-top: 20px;

            font-size: 14px;
        }

        &-wrapper-img {
            display: flex;
    
            margin-top: 30px;
        }

        &-img-small {
            width: 78px;

            margin-top: 102px;
        }

        &-img-big {
            width: 190px;
        }
    }

    @include min-tablet {
        &-section {
            width: 736px;
            height: 992px;
    
            margin: auto;
            margin-top: 16px;
        }

        &-title {
            width: 678px;
    
            margin-top: 218px;
    
            font-size: 70px;
        }

        &-wrapper-img {
            margin-top: 30px;
        }
    }

    @include min-desktop {
        &-section {
            width: 1400px;
            height: 970px;
    
            margin: auto;
            margin-top: 20px;
        }

        &-title {
            width: 874px;
    
            margin-top: 154px;
    
            font-size: 90px;
        }

        &-wrapper-img {
            margin-top: 40px;
        }
    }
}

