@import '../../styles/main.scss';

.hero {
    
    &-section {
        width: 1400px;
        height: 970px;

        display: flex;

        margin: auto;
        margin-top: 20px;

        border-radius: 30px;
        background-color: $--color-main;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        color: $--color-white;
    }
    
    &-title {
        width: 874px;

        margin-top: 154px;

        text-transform: uppercase;
        text-align: center;
        font-size: 90px;
        font-weight: 800;
        letter-spacing: -0.02em;
        line-height: 1em;
    }

    &-description {
        width: 577px;

        margin-top: 40px;

        text-align: center;
        letter-spacing: -0.02em;
        line-height: 1.5em;
    }

    &-button {
        width: 160px;
        height: 56px;

        margin-top: 40px;

        border-radius: 30px;
        border: solid 1px $--color-white;

        text-transform: uppercase;
        color: $--color-white;
    }

    &-wrapper-img {
        display: flex;

        margin-top: 40px;
    }

    &-img-small {
        margin-top: 140px;
    }
}

