@import '../../styles/main.scss';

.header {
  position: absolute;
  top: 24px;
  width: 100%;
  z-index: 1000; 

  @include min-tablet {
    top: 36px;
  }

  @include min-desktop {
    top: 40px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.wrapper {
  display: flex;
  align-items: center;
  gap: 113px;

  @include min-desktop {
    gap: 405px;
  }
}

.mobileWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

