//colors
$--color-main: #050505;
$--color-main-opacity90: rgba(5, 5, 5, 0.9);
$--color-main-opacity80: rgba(5, 5, 5, 0.8);
$--color-main-opacity85: rgba(5, 5, 5, 0.85);
$--color-main-opacity60: rgba(5, 5, 5, 0.6);
$--color-main-opacity40: rgba(5, 5, 5, 0.4);
$--color-main-opacity20: rgba(5, 5, 5, 0.2);
$--color-main-opacity15: rgba(5, 5, 5, 0.15);
$--color-main-opacity12: rgba(5, 5, 5, 0.12);
$--color-main-opacity10: rgba(5, 5, 5, 0.1);

$--color-grey: #e8e8e8;
$--color-white: #ffffff;
$--color-white-opacity80: rgba(255, 255, 255, 0.8);
$--color-white-opacity40: rgba(255, 255, 255, 0.4);
$--color-white-opacity30: rgba(255, 255, 255, 0.3);

//fonts
$--font-mulish: 'Mulish', sans-serif;

// transition
$--transition-primary: 0.3s ease-in-out;

//  BreakPoints
$--bp-mobile: 375px;
$--bp-tablet: 768px;
$--bp-desktop: 1440px;
