@import '../../styles/main.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: auto;
  z-index: 9999;
  /* opacity: 0; */
  transition: opacity 0.3s;
}

.content {
  min-height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  &:focus {
    outline: none;
  }
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  @include min-tablet {
    border-radius: 30px;
  }
}

.close {
  width: 24px;
  height: 24px;
  stroke: $--color-main;
  position: absolute;
  right: 16px;
  top: 16px;
  transition: transform 0.3s ease;
  @include min-tablet {
    right: 20px;
    top: 20px;
  }
  &:hover {
    transform: scale(1.1);
  }
}
