@import '../../styles/main.scss';

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0 36px;

  @include min-tablet {
    padding: 100px 0 136px;
  }

  @include min-desktop {
    padding-top: 140px;
  }

  & .empty_text {
    color: $--color-main-opacity80;
    text-align: center;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: -0.28px;

    @include min-tablet {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: -0.32px;
      max-width: 610px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  gap: 30px;
  margin-top: 32px;

  @include min-tablet {
    gap: 60px;
    margin-top: 40px;
  }

  & .list {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .item_recipe {
      &:not(:first-child) {
        margin-top: 32px;

        @include min-tablet {
          margin-top: 40px;
        }
      }
    }

    & .item_user {
      &:not(:last-child) {
        padding-bottom: 20px;
        border-bottom: 1px solid $--color-main-opacity10;
      }

      &:not(:first-child) {
        padding-top: 20px;
      }
    }
  }
}
