@import '../../styles/main.scss';

.profileSection{
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: $--color-main;
  }
  
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 30px;

  @include min-tablet {
    width: 50px;
    height: 50px;
  }
  }
  
.wrapper {
  display: flex;
  padding: 6px 7px;
  align-items: center;
  gap: 4px;

  @include min-tablet {
    padding:  16px 14px 16px 6px;
  }
  
  }
  
.name {
  color: $--color-white;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  }
  