@import '../../styles/main.scss';

.add-recipe-form-container {
  padding-bottom: 32px;

  @include min-tablet {
    padding-bottom: 50px;
  }

  @include min-desktop {
    padding-bottom: 60px;
  }
}

.img-other-wrapper {
  @include min-desktop {
    display: flex;
    gap: 80px;
  }
}

.title {
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  @include min-tablet {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1.1;
  }
}

.text {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  color: $--color-main-opacity80;

  @include min-tablet {
    margin-bottom: 40px;
    max-width: 443px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.form {
}

.container-form {
}

.input-counter-wrapper {
  position: relative;
  width: 343px;
  margin-bottom: 76px;
  &::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $--color-main-opacity20;

    @include min-tablet {
      width: 649px;
      margin-bottom: 48px;
    }
  }
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $--color-main;

  @include min-tablet {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.input {
  margin-bottom: 32px;
  width: 270px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  color: $--color-main-opacity80;
  @include min-tablet {
    margin-bottom: 60px;
    line-height: 1.5;
    width: 550px;
    height: 24px;
    font-size: 16px;
    line-height: 1.5;
  }

  &::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.02em;
    color: $--color-main-opacity60;
    @include min-tablet {
      margin-bottom: 16px;
      line-height: 1.5;
    }
  }
}

.input-quantity {
  width: 270px;
  @include min-tablet {
    width: 550px;
  }
}

.input-name {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  @include min-tablet {
    font-size: 24px;
    line-height: 1.17;
  }

  &::placeholder {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: $--color-main-opacity60;

    @include min-tablet {
      font-size: 24px;
      line-height: 1.17;
    }
  }
}

.input-file {
  margin-bottom: 32px;
  border: 1px dashed $--color-main-opacity20;
  border-radius: 30px;
  width: 343px;
  height: 318px;
  @include min-tablet {
    width: 704px;
    height: 400px;
  }
}

.category-area-wrapper {
  @include min-tablet {
    display: flex;
    gap: 19px;
  }
}

.ingredient-quantity-wrapper {
  @include min-tablet {
    display: flex;
    gap: 19px;
  }
}

.ingredient-title {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $--color-main;
  @include min-tablet {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.input-time {
  margin-bottom: 0;
  width: 44px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;

  @include min-tablet {
    font-size: 16px;
    line-height: 1.5;
  }
}

// .error {
// }

.character-count {
  position: absolute;
  top: 0;
  right: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  color: $--color-main-opacity60;
}

.select {
  border: 1px solid $--color-main-opacity12;
  border-radius: 30px;
  padding: 14px;
  width: 343px;
  height: 48px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  color: var(--main);

  @include min-tablet {
    font-size: 16px;
    line-height: 1.5;
  }
}

// .select-category {
// }

// .select-area {
// }

// .select-ingredient {
// }

// .image-preview-container {
// }

// .image-preview {
// }

// .remove-image-container {
// }

// .remove-image-button {
// }

.time-container {
  display: flex;
  text-align: center;
  justify-content: left;
  gap: 14px;
  margin-bottom: 32px;
  @include min-tablet {
    gap: 16px;
  }
}

.time-button {
  display: flex;
  text-align: center;
  justify-content: center;
  border: 1px solid $--color-main-opacity12;
  border-radius: 30px;
  padding: 16px;
  width: 48px;
  height: 48px;

  @include min-tablet {
    width: 56px;
    height: 56px;
  }
}

.add-button {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 64px;
  border: 1px solid $--color-main-opacity90;
  border-radius: 30px;
  padding: 14px 20px;
  width: 186px;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  @include min-tablet {
    padding: 16px 32px;
    width: 229px;
    height: 56px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.textarea {
}

.label-preparation {
  margin-bottom: 32px;
}

.textarea-preparation {
  width: 343px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  color: $--color-main-opacity80;
  border: none;
  border-bottom: 1px solid $--color-main-opacity12;
  @include min-tablet {
    width: 649px;
    font-size: 16px;
    line-height: 1.5;
  }
  &::placeholder {
    width: 649px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.02em;
    color: $--color-main-opacity60;
    @include min-tablet {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.clear-button {
}

.submit-button {
  border-radius: 30px;
  padding: 14px 32px;
  width: 124px;
  height: 48px;
  background: $--color-main-opacity85;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $--color-white;
}
