@import '../../styles/main.scss';

.header {
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 1000; 
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  