@import '../../styles/main.scss';

.category {
    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        height: 100%;
    }
    
    &-item-0,
    &-item-1,
    &-item-2,
    &-item-3,
    &-item-4,
    &-item-5,
    &-item-6,
    &-item-7,
    &-item-8,
    &-item-9,
    &-item-10,
    &-item-11,
    &-item-12,
    &-item-13,
    &-item-14 {
        display: flex;
        position: relative;
    }

    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $--color-main;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: -0.02em;
        line-height: 1.2em;
        color: $--color-white;
    }
}    

@include min-mobile {
    .category {

        &-list {
            width: 342px; 
            margin-top: 32px;
        }
        
        &-item-0,
        &-item-1,
        &-item-2,
        &-item-3,
        &-item-4,
        &-item-5,
        &-item-6,
        &-item-7,
        &-item-8,
        &-item-9,
        &-item-10,
        &-item-11,
        &-item-12,
        &-item-13,
        &-item-14 {
            width: 342px;
            height: 250px;
        }

        &-btn {
            width: 342px;
            height: 250px;
            border-radius: 20px;
            font-size: 16px;
        }
    }    
}


@include min-tablet {
    .category {

        &-list {
            gap: 20px;
            width: 704px; 
            margin-top: 40px;
        }
        
        &-item-0,
        &-item-1,
        &-item-3,
        &-item-4,
        &-item-5,
        &-item-6,
        &-item-8,
        &-item-9,
        &-item-10,
        &-item-11,
        &-item-13,
        &-item-14 {    
            width: 342px;
            height: 369px;
        }

        &-item-2,
        &-item-7,
        &-item-12 {    
            width: 704px;
            height: 369px;
        }

        &-btn {
            width: 342px;
            height: 369px;
            border-radius: 30px;
            font-size: 20px;
        }
    }    
}

@include min-desktop {
    .category {

        &-list {
            gap: 20px;
            width: 100%; 
            margin-top: 40px;
        }
        
        &-item-0,
        &-item-1,
        &-item-4,
        &-item-5,
        &-item-6,
        &-item-8,
        &-item-10,
        &-item-11,
        &-item-12,
        &-item-13 {    
            width: 325px;
            height: 369px;
        }

        &-item-2,
        &-item-3,
        &-item-7,
        &-item-9,
        &-item-14 {    
            width: 590px;
            height: 369px;
        }

        &-btn {
            width: 325px;
            height: 369px;
            border-radius: 30px;
            font-size: 20px;
        }
    }    
}
