@import '../../styles/main.scss';

.ingredients_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 12px;

    @include min-tablet {
        display: flex;
        padding: 20px 0;
    }
    
    

    .title {
        font-family: $--font-mulish;
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: left;
        color: $--color-main;
        margin: 0;
        padding: 0;
    }

    .ingredients_list_wrap {
        ul.ingredients_list {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;

            @include min-tablet {
                gap: 20px;
            }
        }
    }
}

li.ingredient_item {
    display: flex;
    gap: 10px;
    width: 152px;

    @include min-tablet {
        width: 178px;
    }

    .ingredient_image {
        width: 75px;
        height: 75px;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid $--color-main-opacity10;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        flex-shrink: 0;

        @include min-tablet {
            width: 90px;
            height: 90px;
        }

        img {
            width: 55px;
            height: 55px;

            @include min-tablet {
                width: 60px;
                height: 60px;
            }
        }
    }

    .ingredient_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2px;

        @include min-tablet {
            gap: 4px;
        }

        .ingredient_name {
            font-family: $--font-mulish;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.02em;
            text-align: left;
            color: $--color-main;

            @include min-tablet {
                font-size: 16px;
                line-height: 24px;
            }
        }

        .ingredient_measure {
            font-family: $--font-mulish;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.02em;
            text-align: left;
            color: $--color-main-opacity60;

            @include min-tablet {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}
